.container {
  padding: 0;
  height: 100%;
}

.storyThumbnail {
  min-height: 300px;
  height: calc(100% - 120px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.storyTitle {
  text-shadow: 0px 2px 10px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.storyTitle h1 {
  color: #ffffff;
  font-size: 60px;
  margin: 0 0 10px;
}

.storyTime {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
